
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: "lucida";
  src: url('/fonts/Lucida_Grande.ttf');
}
@font-face {
  font-family: "futura";
  src: url('/fonts/Futura-Medium.ttf');
}

// Variables
@import 'variables';

// Bootstrap
@import '../css/bootstrap.min.css';
@import '../css/paper-kit.css';
@import url('/css/nucleo-icons.css');
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,300,700');
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
  /*font-family: 'Nunito', sans-serif;*/
  /*font-family: "lucida";*/
  font-family: 'Open Sans', sans-serif;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f5f5f5; 
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #136F63; 
  border-radius: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  user-select: none;

  .logo {
    width: 800px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
  }
  p {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
  }
  .languages {
    list-style: none;
    li {
      display: inline-block;
      margin-right: 1.5rem;
      a {
        display: block;
        cursor: pointer;
        span {
          display: block;
          font-size: 1.1rem;
          margin-top: .5rem;
        }
      }
    }
  }
}

.navbar-brand {
  img {
    width: auto;
    height: 88.8px;
    user-select: none;
  }
}
.navbar-nav {
  margin-left: auto;
  margin-right: 5%;
  .active a{
    color: #258EA6 !important;
  }
  li {
    margin-right: 2rem;
    a {
      color: #a6a6a7 !important;
      font-family: 'Open Sans', sans-serif !important;
      font-size: .9rem !important;
      user-select: none;
    }
  }
}

.home {
  .slick-slide {
    height: auto !important;
  }
  .slick-prev {
    position: absolute;
    top: 45%;
    left: 15px;
    z-index: 5;
    background: transparent;
    font-size: 3rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
  }
  .slick-next {
    position: absolute;
    top: 45%;
    right: 15px;
    z-index: 5;
    background: transparent;
    font-size: 3rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
  }
  button:focus {
    outline: none;
  }

  .banner {
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .banner-img {
      position: relative;
      img {
        width: 100%;
      }
      .text-right{
        width: 50%;
        /*height: 100%;*/
        position: absolute;
        right: 0;
        top: 0;
        h2 {
          background: rgba(255, 255, 255, 0.6);
          width: 100%;
          padding: .5rem 0;
          text-align: center;
          color: #0b6e84;
          font-size: 2rem;
          font-family: 'Open Sans', sans-serif;
        }
        p {
          color: #ffffff;
          text-align: center;
          width: 50%;
          margin: 0 auto;
          margin-top: 3rem;
          font-family: 'Open Sans', sans-serif;
          font-size: 1.1rem;
        }
        .button-cont {
          width: 100%;
          display: block;
          margin-top: 4rem;
          text-align: center;
          .button {
            border-radius: 5px;
            border: 1px solid #ffffff;
            color: #ffffff;
            background: transparent;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.1rem;
            font-weight: 600;
            padding: .5rem 2rem;
          }
        }
      }
    }

    .VueCarousel-navigation-next {
      right: 30px !important;
      padding: 0 !important;
      margin-left: 0 !important;
      color: white;
      font-size: 1.5rem;
      user-select: none;
    }
    .VueCarousel-navigation-prev {
      left: 30px !important;
      padding: 0 !important;
      margin-right: 0 !important;
      color: white;
      font-size: 1.5rem;
      user-select: none;
    }
  }

  .categories {
    margin-top: 2rem;
    padding: 0 3rem;
    .col {
      height: 230px;
      margin: 0 1.5rem;
      position: relative;
      padding: 0;
      .band {
        position: absolute;
        background: rgba(255, 255, 255, .6);
        width: 100%;
        bottom: 0;
        margin: 0;
        padding-top: 1rem;
        text-align: center;
        h5 {
          font-family: 'Open Sans', sans-serif !important;
          color: #000000;
          font-weight: 500;
          user-select: none;
        }
      }
    }
    .equipo {
      background: url('/images/EquipoMedico.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .accesories {
      background: url('/images/instrumental-medico.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .furniture {
      background: url('/images/mobiliario.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .fitness {
      background: url('/images/bandas.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .models {
      background: url('/images/models.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.product {
  margin-top: 1rem;

  .historical {
    margin-top: 3rem;
  }

  .slickprod {
    height: 400px;
    width: 100%;
    .imgcont {
      background-position: center !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      width: 100%;
      height: 400px;
    }
  }
  .slickprodnav {
    margin-top: 1rem;
    .imgcont {
      background-position: center !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      width: auto;
      height: 100px;
    }
  }
  .text {
    padding-left: 3rem;
    h4 {
      font-family: "futura" !important;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    .buttons {
      margin-top: 3rem;
      button {
        background: #51bcda;
        border: #51bcda;
      }
    }
  }
}

.modal-footer {
  border-top: none;
  padding-bottom: .25rem;
  padding-right: 3rem;
  .btn-primary {
    background: #51bcda;
    border-color: #51bcda;
  }
}

.products{
  .title {
    h4 {
      font-family: "futura" !important;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .cont-prod {
    justify-content: space-between;
    padding-top: 2.5rem;
  }

  .subprods {
    justify-content: space-around;
    margin-top: 5rem;
    a {
      color: #000000;
    }
    .product-card {   
      border: none;
      margin-bottom: 8rem;
      width: 75%;

      .image {
        height: calc(100% - 20px);
        width: 75%;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        display: block;
        margin: 0 auto;
      }
      h4 {
        margin-top: 15px;
        font-family: "futura" !important;
        font-size: 1rem;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
  .product-card {
    height: 190px;
    border: 2px solid #f2efef;
    border-radius: 5px;
    user-select: none;
    .row{
      height: 100%;
    }
    .card-text {
      display: flex;
      height: 100%;
      widows: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card-icon {
        height: 40px;
        margin-bottom: 1rem;
      }
      .card-title {
        font-family: 'Open Sans', sans-serif !important;
        font-size: 1.1rem;
        font-weight: 700;
      }
      .card-subtitle {
        font-family: 'Open Sans', sans-serif !important;
        font-size: .9rem;
        font-weight: 500;
      }
    }
    .card-image {
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: top !important;
      position: relative;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      .mask {
        background: url('/images/maskelipse1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
      }
    }
  }
}

.about {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .logo {
    width: 500px;
    margin: 0 auto;
    display: block;
    margin-bottom: 3rem;
  }
  p {
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif !important;
    font-size: .95rem;
  }
}

.contact {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h4 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1rem;
    font-weight: 300;
  }
  label, input, textarea, small, button {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1rem;
    font-weight: 500;
  }
  button {
    float: right;
    display: block;
    background: #258EA6;
    color: #f5f5f5;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    cursor: pointer;
  }
  button:hover {
    background: #1F7588;
  }
  
}

.subs-cont {
  text-align: center;
  margin-top: 1rem;
  a {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    color: #258EA6;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1rem;
    font-weight: 700;
    span {
      display: block;
      width: auto;
    }
  }
}

.footer {
  margin-top: 1rem;  
  padding: 2rem 0 .5rem 0;
  background: #7293A0;
  
  h5 {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif !important;
    color: #f5f5f5;
    font-weight: 700;
    user-select: none;
  }
  p {
    font-size: 1rem;
    color: #a3a3a3;
  }
  .subscribeform {
    input, button {
      display: inline;
      font-family: 'Open Sans', sans-serif !important;
    }
    input {
      width: 400px;
      margin-right: 1rem;
    }
    button {
      background: #258EA6;
      color: #f5f5f5;
      border: none;
      height: 40px;
      border-radius: 5px;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      cursor: pointer;
    }
    button:hover {
      background: #1F7588;
    }
  }
  .social-icons {
    list-style: none;
    margin-top: 1rem;
    text-align: center;
    li {
      display: inline;
      margin-right: 1rem;
      a {
        color: #f5f5f5;
        font-size: 1.25rem;
      }
    }
  }
}

.loading {
  height: 35px;
  display: none;
}

#phoneHelp, #emailHelp, #nameHelp, #messageHelp {
  color: #A7462D !important;
  display: none;
}