<template>
    <div class="container-fluid">
        <headerComponent></headerComponent>

        <router-view></router-view>

        <footerComponent></footerComponent>
    </div>
</template>

<script>
    export default { }
</script>
