<template>
    <div ref="footer" class="container-fluid" v-if="$route.path != '/'">
        <div class="row footer justify-content-center">
            <div class="col-sm-4">
                <form class="subscribeform">
                    <h5>SUBSCRIBE TO OUR BULLETIN</h5>
                    <input class="form-control form-control-lg" type="text" placeholder="your email">
                    <button type="submit">SUBSCRIBE</button>
                </form>
                <ul class="social-icons">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {         
    }
</script>
