<template>
    <div class="container-fluid home">
        <div class="row justify-content-center">
            <div class="col-md-12 banner">
                <carousel :loop="true" :navigationEnabled="true" :paginationEnabled="false" :autoplay="true" :autoplayTimeout="3000" :autoplayHoverPause="true" :perPage="1" >
                    <slide>
                        <div class="banner-img">
                            <img class="img-fluid" :src="'/images/banner3.svg'" draggable="false">
                            <div class="text-right">
                                <h2>HIVAMAT 200</h2>
                                <p>It has patented technology for rehabilitation treatments using electrostatic energy effects to generate deep oscillations in the muscular tissues to relax them and decrease the pain of the patient.</p>
                                <div class="button-cont">
                                    <button>DETAILS</button>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="banner-img">
                            <img class="img-fluid" :src="'/images/banner3.svg'" draggable="false">
                            <div class="text-right">
                                <h2>HIVAMAT 200</h2>
                                <p>It has patented technology for rehabilitation treatments using electrostatic energy effects to generate deep oscillations in the muscular tissues to relax them and decrease the pain of the patient.</p>
                                <div class="button-cont">
                                    <button>DETAILS</button>
                                </div>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>

        <div class="row categories">
            <div class="col equipo">
                <div class="band">
                    <h5>Medical Equipment</h5>
                </div>
            </div>
            <div class="col accesories">
                <div class="band">
                    <h5>Medical Accesories</h5>
                </div>
            </div>
            <div class="col furniture">
                <div class="band">
                    <h5>Medical Furniture</h5>
                </div>
            </div>
            <div class="col fitness">
                <div class="band">
                    <h5>Fisiotherapy and Fitness</h5>
                </div>
            </div>
            <div class="col models">
                <div class="band">
                    <h5>3D Anatomic Models</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 subs-cont">
                <a href="#" class="subscribe">
                    SUBSCRIBE
                    <span><i class="fas fa-angle-down"></i></span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    export default {
        components: {
            Carousel,
            Slide
        }
     }
</script>
