<template>
    <div class="container-fluid products">
        <div class="row cont-prod">
            <div class="col-sm-5 product-card">
                <div class="row">
                    <div class="col-sm-7 card-text">
                        <img class="card-icon" :src="'/images/medicalequipment.svg'" draggable="false">
                        <h6 class="card-title">Medical Equipment</h6>
                        <p class="card-subtitle">Physical Medicine</p>
                        <p class="card-subtitle">Diagnostic by images</p>
                    </div>
                    <div class="col-sm-5 card-image" style="background: url('/images/EquipoMedico.jpg')">
                        <div class="mask"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 product-card">
                <div class="row">
                    <div class="col-sm-7 card-text">
                        <img class="card-icon" :src="'/images/medicalequipment.svg'" draggable="false">
                        <h6 class="card-title">Medical Equipment</h6>
                        <p class="card-subtitle">Physical Medicine</p>
                        <p class="card-subtitle">Diagnostic by images</p>
                    </div>
                    <div class="col-sm-5 card-image" style="background: url('/images/EquipoMedico.jpg')">
                        <div class="mask"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 product-card">
                <div class="row">
                    <div class="col-sm-7 card-text">
                        <img class="card-icon" :src="'/images/medicalequipment.svg'" draggable="false">
                        <h6 class="card-title">Medical Equipment</h6>
                        <p class="card-subtitle">Physical Medicine</p>
                        <p class="card-subtitle">Diagnostic by images</p>
                    </div>
                    <div class="col-sm-5 card-image" style="background: url('/images/EquipoMedico.jpg')">
                        <div class="mask"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 product-card">
                <div class="row">
                    <div class="col-sm-7 card-text">
                        <img class="card-icon" :src="'/images/medicalequipment.svg'" draggable="false">
                        <h6 class="card-title">Medical Equipment</h6>
                        <p class="card-subtitle">Physical Medicine</p>
                        <p class="card-subtitle">Diagnostic by images</p>
                    </div>
                    <div class="col-sm-5 card-image" style="background: url('/images/EquipoMedico.jpg')">
                        <div class="mask"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 product-card">
                <div class="row">
                    <div class="col-sm-7 card-text">
                        <img class="card-icon" :src="'/images/medicalequipment.svg'" draggable="false">
                        <h6 class="card-title">Medical Equipment</h6>
                        <p class="card-subtitle">Physical Medicine</p>
                        <p class="card-subtitle">Diagnostic by images</p>
                    </div>
                    <div class="col-sm-5 card-image" style="background: url('/images/EquipoMedico.jpg')">
                        <div class="mask"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 subs-cont">
                <a href="#" class="subscribe">
                    SUBSCRIBE
                    <span><i class="fas fa-angle-down"></i></span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>
