<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 welcome">
                <router-link :to="{ name: 'home' }">
                    <img class="logo" :src="'/images/logo.png'" draggable="false">
                </router-link>
                <!--<a href="/home"><img class="logo" :src="'/images/logo.png'" draggable="false"></a>-->
                <h1>Welcome to EMEDAC</h1>
                <p>Please select a language</p>
                <ul class="languages">
                    <li>
                        <a>
                            <img :src="'/images/english.png'" >
                            <span>English</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img :src="'/images/spain.png'" >
                            <span>Español</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img :src="'/images/portuguese.png'" >
                            <span>Português</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>
